@charset "UTF-8";
html {
  font-size: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

body {
  overflow-x: hidden;
  font-family: "MS Pゴシック", sans-serif;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.l-main {
  background-color: rgba(211, 233, 214, 0.582);
}

footer {
  text-align: center;
  background-color: rgba(211, 233, 214, 0.582);
  padding-bottom: 20px;
}

/* ハンバーガーメニュー */
.c-hamburger-menu {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 10;
}
.c-hamburger-menu__line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: black;
  position: relative;
  transition: all 0.5s;
}
.c-hamburger-menu__line::before, .c-hamburger-menu__line::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: black;
  position: absolute;
  transition: all 0.5s;
}
.c-hamburger-menu__line::before {
  transform: translateY(-12px);
}
.c-hamburger-menu__line::after {
  transform: translateY(12px);
}

.c-hamburger-menu.open .c-hamburger-menu__line {
  background-color: transparent;
}

.c-hamburger-menu.open .c-hamburger-menu__line::before {
  transform: rotate(45deg);
}

.c-hamburger-menu.open .c-hamburger-menu__line::after {
  transform: rotate(-45deg);
}

.c-button {
  display: block;
  height: 76px;
  width: 200px;
  border-radius: 30px;
}

.c-footer-link {
  position: fixed;
  bottom: 0%;
  left: 2%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}
.c-footer-link a {
  padding-bottom: 5px;
}

.p-header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 3;
}
.p-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.p-header__inner--btn {
  display: none;
}
@media (max-width: 1024px) {
  .p-header__inner--btn {
    display: flex;
  }
}
@media (max-width: 1024px) {
  .p-header__inner--nav {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 100;
    top: 48px;
    left: 0;
  }
}
.p-header__inner--nav ul {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .p-header__inner--nav ul {
    display: block;
  }
}
.p-header__inner--nav ul li {
  padding: 0 15px;
  position: relative;
}
.p-header__inner--nav ul li::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  top: 22px;
  left: 12.5%;
  background-color: black;
  opacity: 0.8;
  transition: all 0.3s;
}
.p-header__inner--nav ul li:hover::after {
  width: 75%;
}
@media (max-width: 1024px) {
  .p-header__inner--nav ul li:hover::after {
    width: 0%;
  }
}
@media (max-width: 1024px) {
  .p-header__inner--nav ul li {
    padding: 15px;
    border-bottom: 1px solid #aaaaaa;
  }
}

.p-main-visual {
  height: 100vh;
}
.p-main-visual video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
@media (max-width: 1024px) {
  .p-main-visual video {
    display: none;
  }
}
.p-main-visual img {
  display: none;
}
@media (max-width: 1024px) {
  .p-main-visual img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
}
.p-main-visual h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: aliceblue;
  font-size: 4vw;
  text-align: center;
  transition: all 1s;
}
@media (max-width: 599px) {
  .p-main-visual h1 {
    font-size: 28px;
    width: 250px;
  }
}

.p-about {
  padding-bottom: 100px;
}
@media (max-width: 599px) {
  .p-about {
    padding-bottom: 0px;
  }
}
.p-about__inner {
  margin: 0 auto;
  width: 70%;
}
.p-about__inner h2 {
  padding-top: 100px;
  font-size: 48px;
  position: relative;
  margin-bottom: 100px;
  width: 300px;
}
@media (max-width: 599px) {
  .p-about__inner h2 {
    font-size: 28px;
  }
}
.p-about__inner h2::after {
  content: "";
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform-origin: 0 50% 0;
  transform: scaleX(1);
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  width: 240px;
}
@media (max-width: 599px) {
  .p-about__inner h2::after {
    width: 145px;
  }
}
.p-about__inner h2:hover::after {
  transform-origin: 100% 50% 0;
  transform: scaleX(0);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.45s;
  transition: transform 0.45s, cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.45s, cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.45s;
}
.p-about__inner__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-about__inner__detail img {
  border-radius: 50%;
  border: 5px solid black;
  width: 30%;
}
@media (max-width: 1024px) {
  .p-about__inner__detail img {
    width: 75%;
    margin: 0 auto 40px;
  }
}
.p-about__inner__detail p {
  width: 65%;
}
@media (max-width: 1024px) {
  .p-about__inner__detail p {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .p-about__inner__detail {
    display: block;
  }
}

.p-skills {
  padding-bottom: 100px;
}
@media (max-width: 599px) {
  .p-skills {
    padding-bottom: 0;
  }
}
.p-skills__inner {
  margin: 0 auto;
  width: 70%;
}
.p-skills__inner h2 {
  padding-top: 100px;
  font-size: 48px;
  margin-bottom: 50px;
  width: 300px;
  position: relative;
}
@media (max-width: 599px) {
  .p-skills__inner h2 {
    font-size: 28px;
  }
}
.p-skills__inner h2::after {
  content: "";
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform-origin: 0 50% 0;
  transform: scaleX(1);
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  width: 240px;
}
@media (max-width: 599px) {
  .p-skills__inner h2::after {
    width: 145px;
  }
}
.p-skills__inner h2:hover::after {
  transform-origin: 100% 50% 0;
  transform: scaleX(0);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.45s;
  transition: transform 0.45s, cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.45s, cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.45s;
}
@media (max-width: 599px) {
  .p-skills__inner__detail {
    padding-bottom: 30px;
  }
}
.p-skills__inner__detail .p-skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .p-skills__inner__detail .p-skills-list {
    margin-bottom: 0px;
  }
}
@media (max-width: 599px) {
  .p-skills__inner__detail .p-skills-list {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .p-skills__inner__detail .p-skills-list li {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .p-skills__inner__detail .p-skills-list li {
    width: 100%;
  }
}
.p-skills__inner__detail .p-skills-list li .p-skills-list__item {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 599px) {
  .p-skills__inner__detail .p-skills-list li .p-skills-list__item {
    margin: 0 auto 20px;
  }
}
.p-skills__inner__detail .p-skills-list li .p-skills-list__item .c-icon {
  width: 150px;
  height: 150px;
  padding-top: 30px;
}
.p-skills__inner__detail .p-skills-list li .p-skills-list__item .jquery {
  margin: 0 auto;
  object-fit: cover;
}
.p-skills__inner__detail .p-skills-list li .p-skills-list__item p {
  font-size: 20px;
}

.p-works {
  padding-bottom: 100px;
}
@media (max-width: 599px) {
  .p-works {
    padding-bottom: 50px;
  }
}
.p-works__inner h2 {
  padding-top: 100px;
  font-size: 48px;
  position: relative;
  width: 300px;
  margin-bottom: 50px;
  margin-left: 15%;
}
@media (max-width: 1024px) {
  .p-works__inner h2 {
    width: 70%;
  }
}
@media (max-width: 599px) {
  .p-works__inner h2 {
    font-size: 28px;
  }
}
.p-works__inner h2::after {
  content: "";
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform-origin: 0 50% 0;
  transform: scaleX(1);
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  width: 240px;
}
@media (max-width: 599px) {
  .p-works__inner h2::after {
    width: 145px;
  }
}
.p-works__inner h2:hover::after {
  transform-origin: 100% 50% 0;
  transform: scaleX(0);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.45s;
  transition: transform 0.45s, cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.45s, cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.45s;
}
.p-works__inner__detail {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .p-works__inner__detail {
    width: 90%;
  }
}
.p-works__inner__detail .p-card {
  background-color: white;
  margin-bottom: 40px;
  display: flex;
  padding: 40px 20px;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .p-works__inner__detail .p-card {
    flex-direction: column;
  }
}
.p-works__inner__detail .p-card__visual {
  width: 50%;
}
@media (max-width: 1024px) {
  .p-works__inner__detail .p-card__visual {
    width: 100%;
  }
}
.p-works__inner__detail .p-card__visual img {
  width: 100%;
  height: 100%;
}
.p-works__inner__detail .p-card__text {
  width: 45%;
}
@media (max-width: 1024px) {
  .p-works__inner__detail .p-card__text {
    width: 100%;
    padding-top: 20px;
  }
}
.p-works__inner__detail .p-card__text h3 {
  font-size: 28px;
  padding-bottom: 30px;
}
@media (max-width: 599px) {
  .p-works__inner__detail .p-card__text h3 {
    font-size: 6vw;
  }
}
.p-works__inner__detail .p-card__text__btn {
  margin-top: 100px;
  margin-left: 20%;
  border: 1px solid black;
}
@media (max-width: 1024px) {
  .p-works__inner__detail .p-card__text__btn {
    width: 150px;
    margin: 50px auto 0px;
  }
}
.p-works__inner__detail .p-card__text__btn:hover {
  opacity: 0.7;
}
.p-works__inner__detail .p-card__text__btn a {
  display: inline-block;
  width: 100%;
  line-height: 76px;
}

.p-price {
  padding-bottom: 100px;
}
@media (max-width: 599px) {
  .p-price {
    padding-bottom: 50px;
  }
}
.p-price__inner {
  margin: 0 auto;
  width: 70%;
}
.p-price__inner h2 {
  padding-top: 100px;
  font-size: 48px;
  position: relative;
  margin-bottom: 100px;
  width: 300px;
}
@media (max-width: 599px) {
  .p-price__inner h2 {
    font-size: 28px;
  }
}
.p-price__inner h2::after {
  content: "";
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform-origin: 0 50% 0;
  transform: scaleX(1);
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  width: 240px;
}
@media (max-width: 599px) {
  .p-price__inner h2::after {
    width: 145px;
  }
}
.p-price__inner h2:hover::after {
  transform-origin: 100% 50% 0;
  transform: scaleX(0);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.45s;
  transition: transform 0.45s, cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.45s, cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.45s;
}
.p-price__inner__detail {
  padding-bottom: 40px;
}
.p-price__inner__detail h3 {
  margin-bottom: 30px;
  font-size: 28px;
}
@media (max-width: 599px) {
  .p-price__inner__detail h3 {
    font-size: 4.4vw;
  }
}
.p-price__inner__detail .p-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.p-contact__inner {
  margin: 0 auto;
  width: 70%;
}
.p-contact__inner h2 {
  padding-top: 100px;
  font-size: 48px;
  position: relative;
  margin-bottom: 100px;
  width: 300px;
}
@media (max-width: 599px) {
  .p-contact__inner h2 {
    font-size: 28px;
  }
}
.p-contact__inner h2::after {
  content: "";
  height: 2px;
  background-color: black;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform-origin: 0 50% 0;
  transform: scaleX(1);
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  width: 240px;
}
@media (max-width: 599px) {
  .p-contact__inner h2::after {
    width: 145px;
  }
}
.p-contact__inner h2:hover::after {
  transform-origin: 100% 50% 0;
  transform: scaleX(0);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.45s;
  transition: transform 0.45s, cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  transition: transform 0.45s, cubic-bezier(0.215, 0.61, 0.355, 1) 0s, -webkit-transform 0.45s;
}
.p-contact__inner__detail {
  padding: 250px 0;
}

/*# sourceMappingURL=style.css.map */
