@use "../../foundation/mixin" as v;
.p-main-visual{
    height:100vh;
    video{
        width:100%;
        height:100%;
        object-fit: cover;
        position:relative;
        @include v.tab{
            display:none;
        }
    }
    img{
        display:none;
        @include v.tab{
            display:block;
            width:100%;
            height:100%;
            object-fit: cover; 
            position:relative;
        }
    }
    h1{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        color:aliceblue;
        font-size:4.0vw;
        text-align: center;
        transition:all 1s;
        @include v.smafo{
            font-size:28px;
            width:250px;
        }
    }
}